@import './color.scss';

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-bold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-extra-bold;
  src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: Poppins-light;
  src: url('../fonts/Poppins/Poppins-Light.ttf');
}

// Layout
.br-container-light {
  padding: 2rem;
  background-color: $gray-light-1;
  min-height: 100%;
}

.br-track-light {
  background-color: $gray-light-2;
  border-top: 1px solid $gray-light-3;
  border-bottom: 1px solid $gray-light-3;
  padding: 1rem;
}

.br-container {
  padding: 2rem;
  height: 100%;
}

.br-form,
.br-panel {
  background-color: $white;
  padding: 2rem 2rem 1.5rem 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.br-toolbar-white {
  padding: 2rem !important;
  background-color: $white;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins-bold;
  margin-top: 0 !important;
  color: $solid-blue-2;
}

.dark-blue-bg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: $white;
  }
}

p {
  font-size: 14px;
  color: $solid-blue-2;

  mat-icon {
    color: blue-light;
    margin-bottom: -7px;
    margin-right: 5px;
  }
}

.title {
  font-family: Poppins !important;
  font-size: 18px !important;
  font-weight: bold !important;
  margin-top: 0;
}

.bottom-shadow {
  box-shadow: 0px 3px 3px -3px $dark-transparent-2 !important;
}

.bold {
  font-family: Poppins-bold !important;
}

::-webkit-input-placeholder {
  color: $gray !important;
  font-size: 14px;
}

:-ms-input-placeholder {
  color: $gray !important;
  font-size: 14px;
}

::placeholder {
  color: $gray;
  font-size: 14px !important;
}

.mat-mdc-select-placeholder {
  color: $gray;
  font-size: 14px !important;
}

.mat-mdc-select-value-text {
  font-size: 14px !important;
}

.mat-mdc-option {
  font-size: 14px !important;
}

hr {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  border: 1px solid $gray-light !important;
}

.border-b {
  border-bottom: 1px solid $gray-light !important;
}

.image-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-transparent-1;
  border-radius: 50%;
  text-align: center;
}

// Colors & Background colors
.icon-filled {
  color: $blue-light;
}

.dark-blue-bg {
  background-color: $dark-blue !important;
}

.primary-bg {
  background-color: $primary !important;
}

.accent-bg {
  background-color: $accent;
}

.warm-bg {
  background-color: $warm;
}

.text-purple {
  color: $purple !important;
}

.text-white {
  color: $white;
}

.text-light {
  color: $blue-light !important;
}

.bg-image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.br-sidenav ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: $dark-transparent;
}

.br-sidenav ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $solid-blue;
}

.br-sidenav ::-webkit-scrollbar-thumb:hover {
  background-color: $solid-blue-1;
  width: 12px;
}
